a.docs-banner {
  padding: 1.1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $success-color;

  h5 {
    // opacity: 0.8;
    font-size: 1rem;
    color: $white;
    margin-bottom: 0;
  }
}
