$code-button-bg: rgba(0,67,91,0.08);
$transparent-bg: rgba(248,249,250,0.90);

.code-menu {
  padding-top: 1rem;
  width: auto;
}

.code-menu-item {
  margin: 10px 5px;
  padding: rem-calc(5) rem-calc(20);

  a {
    color: $dark-blue;
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
    text-transform: uppercase;

  }

  &.is-active {
    background-color: $code-button-bg;
    border-radius: 2px;

    a {
      color: $dark-blue;
    }
  }

  &.is-disabled {
    pointer-events: none;

    a {
      color: $medium-gray;
    }
  }
}

.code-box {
  background-color: $pale-blue;
  border-bottom: 1px solid $medium-gray;
  border-left: 1px solid $medium-gray;
  border-top: 1px solid $medium-gray;
  display: none;
  height: 400px;
  padding: 1rem;
  position: relative;
  z-index: 0;

  //highlight js override
  code {
    background: transparent;
    border: 0;
    padding: 0;
  }

  pre {
    position: relative;
  }

  &.is-active {
    display: block;
    width: 30%;
  }
}

.code-box-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 1rem;
  background: $transparent-bg;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.code-box-script {
  height: 100%;
  overflow: scroll;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.code-block-toggle {
  display: none;

  &.is-active {
    display: block;
  }
}

.code-toggler {
  color: $dark-blue;
  font-size: rem-calc(14);
  font-weight: $global-weight-bold;
  margin-right: 0.2rem;
  padding: 0.8rem 1rem;
  text-transform: uppercase;

  &.inactive {
    display: inline-block;
    width: rem-calc(100);
  }

  &.is-active {
    background: $code-button-bg;
  }
}

.docs-code code {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  background: #f9f9f9;
  margin-bottom: 1.5rem;
}

.docs-code .bash::before {
  content: '$ ';
  color: #ccc;
}

.docs-code .bash::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.25rem;
  background: #777;
  border-radius: 4px 4px 0 0;
}

.docs-code .bash {
  border: 0;
  background: #333;
  color: $white;
  border-radius: 4px;
  position: relative;
  padding-top: 2rem;
}
