$global-nav-bg: $topbar-bg;
$global-nav-border-color: #3B4951;
$global-nav-hover-color: lighten($global-nav-bg, 10%);

.global-nav {
  background: $global-nav-bg !important;
  display: flex;
  font-size: rem-calc(13);
  font-weight: bold;
  height: rem-calc(45);
  justify-content: space-between;
  position: relative;

  .dropdown {
    width: auto;

    &.menu a {
      background: $global-nav-bg;

      &.button {
        background: $primary-color;

        &:hover {
          background: darken($primary-color, 10%);
        }
      }
    }
  }

  // background of the dropdown items on hover
  .is-dropdown-submenu-item a {
    &:hover {
      background: $global-nav-hover-color;
    }
  }

  .menu a {
    color: $light-gray;
    height: 45px;
    line-height: 45px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    &:hover:not(.button, .zurb-logo),
    &:focus {
      background: $global-nav-hover-color;
    }

    &.button {
      border-radius: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .menu.submenu {
    border: 0;
    margin-left: -1px;
  }

  .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    border: 0;
  }

  // zurb logo
  .global-nav-title {
    opacity: 0.9;
    transition: all .25s ease-in-out;

    &:hover {
      opacity: 1;
      transition: all .25s ease-in-out;
    }
  }

  .title {
    background: $global-nav-bg;
    color: $dark-gray;
    font-size: 0.8em;
    padding: 10px;
    padding-left: 15px;
  }

  .is-active {
    a {
      background: darken($global-nav-bg, 20%);
    }
  }

  .menu:last-child {
    border-left: 1px solid $global-nav-border-color;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid $global-nav-border-color;
    }
  }
}

.global-nav-title {
  line-height: 0;
  padding-left: $global-padding;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .zurb-logo {
    color: $white;
    font-family: "zurb-logo";
    font-size: 38px;
    font-weight: normal;
    opacity: 0.75;
    transition: $transition;
    min-height: 46px;
    height: 46px;
    line-height: 46px !important;
    @media all and (-ms-high-contrast:none) {
      line-height: 26px !important; // stupid microsoft
     }
     @supports (-ms-ime-align:auto) {
      line-height: 26px !important; // stupid microsoft
    }

    strong {
      display: inline;
      font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 17px;
      line-height: 46px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.menu > .menu-item {
  display: flex;
  flex: 0 0 auto;
}
