<div class="download-dropdown-pane bottom dropdown-pane" id="example-dropdown" data-dropdown data-close-on-click="true" data-auto-focus="true">
  <div class="dropdown-foundation">
    <div class="dropdown-header">
      <p class="dropdown-title">Install with Foundation CLI</p>
      <a target="_blank" href="{{@root.root}}how-to.html#use"><img class="dropdown-help"src="{{@root.root}}assets/img/icons/help.svg" alt=""></a>
    </div>
    <div class="input-group">
      <input class="input-group-field dropdown-input" type="text" value="foundation blocks install {{datakey}}">
      <div class="input-group-button">
        <input type="Copy" data-copy-input class="button dropdown-copy" value="Copy">
      </div>
    </div>
  </div>
  <a class="dropdown-download" href="{{@root.root}}files/building-blocks/{{datakey}}.zip">Download Zip</a>
</div>
