<div class="building-block-code">
  <!-- Code Menu -->
  <div class="flex-container align-center">
    <ul class="code-menu menu">
      <li class="code-menu-item is-active" data-toggle-HTML>
        <a href="#">HTML</a>
      </li>
      <li class="code-menu-item" data-toggle-styles>
        <a href="#">SCSS</a>
      </li>
      <li class="code-menu-item" data-toggle-JS>
        <a href="#">JS</a>
      </li>
    </ul>
  </div>

  <!-- Code Preview -->
  <div class="row expanded">
    <!--html-->
    <div id="codeBoxHTML" class="column code-box is-active">
      <div class="code-box-header">
        <div class="code-toggler inactive">HTML</div>
        <button class="button docs-code-copy" data-clipboard>Copy</button>
      </div>
      <div class="code-box-script">

{{#code "html"}}
{{{bb-html page}}}
{{/code}}
      </div>
    </div>
    <!--css-->
    <div id="codeBoxStyles" class="column code-box">
      <div class="code-box-header">
        <div>
          <button class="code-toggler is-active" id="scssToggle">SCSS</button>
          <button class="code-toggler" id="cssToggle">CSS</button>
        </div>
        <button class="button docs-code-copy" data-clipboard>Copy</button>
      </div>
      <div class="code-block-toggle is-active code-box-script" id="codeBoxSCSS" data-toggler=".is-active">
{{#code "scss"}}
{{{bb-scss page}}}
{{/code}}
      </div>
      <div class="code-block-toggle code-box-script" id="codeBoxCSS">
{{#code "css"}}
{{{bb-css page}}}
{{/code}}
      </div>
    </div>
    <!--JS-->
    <div id="codeBoxJS" class="column code-box">
      <div class="code-box-header">
        <div class="code-toggler inactive">JS</div>
        <button class="button docs-code-copy" data-clipboard>Copy</button>
      </div>
      <div class="code-box-script">
{{#code "js"}}
{{{bb-js page}}}
{{/code}}
      </div>
    </div>
  </div>
</div>
