<a class="course-callout-alert-link" href="https://courses.zurb.com/?utm_source=Building%20Blocks&utm_medium=Building%20Blocks&utm_content=card&utm_campaign=Building%20Blocks%20Ads" target="_blank">
  <div class="course-callout-card">
    <img src="{{root}}assets/img/images/yeti-avatar.svg" class="" height="" width="" alt="">
    <p class="course-callout-alert-header">Master Foundation</p>
    <p class="course-callout-alert-text">Get up to speed FAST, learn straight from the experts who built Foundation.</p>
    <p class="course-callout-alert-link" href="https://courses.zurb.com/" target="_blank">LEARN MORE ›</p>
  </div>
</a>
