<div id="yeti-callout-alert" class="course-callout-alert">
  <a class="course-callout-alert-link" href="https://courses.zurb.com/?utm_source=Building%20Blocks&utm_medium=Building%20Blocks&utm_content=alert&utm_campaign=Building%20Blocks%20Ads" target="_blank"><img src="{{root}}assets/img/images/yeti-avatar.svg" class="" height="" width="" alt=""></a>
  <div class="course-callout-alert-content">
    <p class="course-callout-alert-header">Master Foundation</p>
    <p class="course-callout-alert-text">Get up to speed FAST, learn straight from the experts who built Foundation.</p>
    <a class="course-callout-alert-link" href="https://courses.zurb.com/?utm_source=Building%20Blocks&utm_medium=Building%20Blocks&utm_content=alert&utm_campaign=Building%20Blocks%20Ads" target="_blank">LEARN MORE ›</a>
  </div>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-toggle-callout>
    <span aria-hidden="true">¯</span>
  </button>
  <button class="open-button" aria-label="open alert" type="button" data-toggle-callout>
    <span aria-hidden="true">+</span>
  </button>
</div>
