<div class="column row">
  <div class="kit-card"{{#if background}}style="background:{{background}};"{{/if}}>
    <div class="row">
      <!--header and CTA-->
      <div class="kit-card-summary column small-12 medium-6">
        <h2 class="kit-card-header">{{#if name}}{{name}}{{else}}E-Commerce Kit{{/if}}</h2>
        <p class="kit-card-sub-header">{{#if short_description}}{{short_description}}{{else}}{{description}}{{/if}}</p>

        <button class="kit-card-primary" type="button" data-toggle="example-dropdown">Download <div class="arrow-down"></div></button>
        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
          <div class="dropdown-foundation">
            <div class="dropdown-header">
              <p class="dropdown-title">Install with Foundation CLI</p>
              <a href="#"><img class="dropdown-help"src="{{@root.root}}assets/img/icons/help.svg" alt=""></a>
            </div>
            <div class="input-group">
              <input class="input-group-field dropdown-input" type="text" value="foundation kits install {{datakey}}">
              <div class="input-group-button">
                <input type="Copy" data-copy-input class="button dropdown-copy" value="Copy">
              </div>
            </div>
          </div>
          <a class="dropdown-download" href="{{@root.root}}files/kits/{{datakey}}.zip">Download Zip</a>
        </div>
        <a class="kit-card-secondary" href="{{href}}">See Details</a>
        <div class="kit-card-link">
        <a class="kit-card-link-text" href="#">How do I use this?</a>
        </div>
      </div>


      <!--kit card visual and hover effect-->
      <div class="kit-card-visual column small-12 medium-6">
        <img class="kit-card-visual-img" src="{{@root.root}}assets/img/{{#if images.card}}kits/{{datakey}}/{{images.card}}{{else}}images/kit-background-ex.png{{/if}}" alt="kit building blocks image">
      </div>
    </div>
  </div>
</div>
