 <!--kit details section-->
 <div class="kit-details">

  <!--breadcrumbs-->
  <div class="row column">
    {{> bb-breadcrumbs kit=this}}
  </div>

  <!--kit details-->
  <div class="row">
    <!--summary-->
    <div class="columns kit-details-summary">
      <h1 class="kit-card-header">{{#if name}}{{name}}{{else}}E-Commerce Kit{{/if}}</h1>
      <p class="">{{#if description}}{{description}}{{else}}Get started building an e-commerce site with these components{{/if}}</p>
    </div>
    <div class="columns kit-details-action shrink">
      <a class="kit-action-icon" data-toggle="share-dropdown"> <img src="{{@root.root}}assets/img/icons/share.svg" alt="" class="inject-me kit-share-button"></a>
      {{> block-share-dropdown kit}}
      <div>
        <button class="kit-card-primary blue float-right hide-for-small-only" type="button" data-toggle="{{datakey}}-dropdown">Download<div class="arrow-down white"></div></button>
        {{>kit-dropdown}}
        <div class="kit-card-link blue">
          <a class="kit-card-link-text blue" target="_blank" href="{{@root.root}}how-to.html#use">How do I use This?</a>
        </div>
      </div>
    </div>
  </div>
</div>
