<div class="filter-nav-mobile-container" data-closable>
  <div class="row column">
    <button class="filter-nav-mobile-button" data-toggle="filter-nav-mobile-modal"><img src="{{root}}assets/img/icons/mobile-categories.svg" class="inject-me bb-category-icon" height="" title="Filters" width="" alt="Filters"><span>Categories</span></button>
  </div>
</div>

<div class="full reveal filter-nav-mobile-modal" id="filter-nav-mobile-modal" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
  <div class="filter-nav-mobile">
    <div class="row collapse filter-nav-mobile-header">
      <div class="column">
        <h2 class="filter-title">Categories</h2>
      </div>
      <div class="column flex-container align-right align-self-middle">
        <button aria-label="Dismiss alert" type="button" data-close>
          <h2 aria-hidden="true" class="cancel-button">Cancel</h2>
        </button>
      </div>
    </div>
    <div class="row collapse small-up-2 bb-filter-icons-container">
      {{#each global.filter-nav}}
      <div class="column flex-container">
        <a href="{{@root.root}}{{page}}.html" class="filter-nav-button align-center {{classes}}"><img src="{{root}}{{img}}" class="inject-me bb-filter-icons" height="" title="{{title}}" width="" alt="{{alt}}"><span>{{title}}</span></a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
