<ul class="off-canvas-list">
  <li><label class="first">Foundation</label></li>
  <li><a href="{{root}}index.html">Home</a></li>
</ul>

<hr>

<ul class="off-canvas-list">
  <li><a href="https://zurb.com/responsive">Foundation Showcase</a></li>
  <li><a href="{{root}}showcase/brands.html">Brands</a></li>
  <li><a href="{{root}}showcase/case-studies.html">Case Studies</a></li>
  <li><a href="{{root}}showcase/blog.html">Blog</a></li>
  <li><a href="{{root}}showcase/buzz.html">Buzz</a></li>
  <li><a href="{{root}}showcase/about.html">About Foundation</a></li>
</ul>

<hr>

<ul class="off-canvas-list">
  <li><label class="first">Foundation for Sites</label></li>

  <li class="nav-main-item"><a class="" href="{{root}}sites.html">Home</a></li>
    <li><a href="{{root}}sites/getting-started.html" class="is-active">Getting Started</a></li>
    <li><a href="{{root}}sites/download.html">Download</a></li>
    <li><a href="{{root}}templates.html">HTML Templates</a></li>
    <li><a href="{{root}}sites/building-blocks.html">Building Blocks</a></li>
    <li><a href="{{root}}sites/resources.html">Resources</a></li>
    <li><a href="https://foundation.zurb.com/sites/docs/" target="_blank">Docs</a></li>
</ul>

<hr>

<ul class="off-canvas-list">
  <li><label class="first">Foundation for Emails</label></li>
  <li class="nav-main-item"><a  class="spaced-list-item" href="{{root}}emails.html">Home</a></li>
    <li><a href="{{root}}emails/getting-started.html">Getting Started</a></li>
    <li><a href="{{root}}emails/download.html">Download</a></li>
    <li><a href="{{root}}emails/inliner-v2.html">Inliner</a></li>
    <li><a href="{{root}}emails/email-templates.html">Email Templates</a></li>
    <li><a href="{{root}}emails/resources.html">Resources</a></li>
    <li><a href="{{root}}emails/docs" target="_blank">Docs</a></li>
</ul>

<hr>

<ul class="off-canvas-list">
  <li><label class="first">Develop</label></li>
  <li><a href="{{root}}templates.html">HTML Templates</a></li>
  <li><a href="{{root}}sites/resources.html">Resources</a></li>
  <li><a href="{{root}}develop/building-blocks.html">Building Blocks</a></li>
  <li><a href="{{root}}develop/contribute.html">Contribute</a></li>
  <!-- <li><a href="{{root}}upload.html">Annotate Code</a></li> -->
</ul>

<hr>

<ul class="off-canvas-list">
  <li><label class="first">Tutorials</label></li>
  <li><a href="{{root}}learn/tutorials.html">Tutorials</a></li>
  <li><a href="https://zurb.com/university/lessons">Lessons</a></li>
  <li><a href="https://courses.zurb.com/">Courses</a></li>
  <li><a href="https://zurb.com/university/training">Custom Training</a></li>
  <!-- <li><a href="{{root}}learn/certification.html">Certification</a></li>
  <li><a href="{{root}}learn/responsive-reading.html">Responsive Reading</a></li> -->
</ul>

<hr>

<ul class="off-canvas-list">
  <li><label class="first">Get Involved</label></li>
  <li><a href="{{root}}get-involved/support.html">Connect</a>
  </li>
  <!-- <li><a href="{{root}}get-involved/premium-support.html">PLZ Halp</a></li> -->
  <li><a href="https://foundation.zurb.com/forum/">Foundation Forum</a></li>
  <!-- <li><a href="{{root}}learn/events.html">Events</a></li> -->
  <li><a href="{{root}}get-involved/faq.html">FAQs</a></li>
  <li><a href="{{root}}get-involved/contribute.html">Contribute</a></li>
  <li><a href="{{root}}get-involved/yetinauts.html">Yetinauts</a></li>
  <li><a href="{{root}}get-involved/partners.html">Partners</a></li>
  <li><a href="{{root}}/email-sponsorships.html">Sponsorships</a></li>
</ul>

<hr>

<ul class="off-canvas-list">
  <li><label class="first">More ZURB Goodness</label></li>
  <li><a href="https://zurb.com/manifesto">Manifesto</a></li>
  <li><a href="https://zurb.com/services/our-work">Our Work</a></li>
  <li><a href="https://courses.zurb.com/">Product Design Courses</a></li>
</ul>

<hr>

<div class="zurb-links">
  <ul class="top">
    <li class="logo"><a href="https://zurb.com"><img src="{{root}}assets/img/icons/footer-zurb-icon.png" alt="zurb"></a></li>
    <li><a href="https://zurb.com/about">About</a></li>
    <li><a href="https://zurb.com/blog">Blog</a></li>
    <li><a href="https://zurb.com/contact">Contact</a></li>
  </ul>
</div>
